<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.businesscontrollv3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BusinessControllV3"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusinessControllV3">
        <activity android:name=".item_transaction"></activity>
        <activity android:name=".view.AccountActivity" />
        <activity android:name=".view.ResponsibleActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:theme="@style/Theme.BusinessControllV3.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/Theme.BusinessControllV3.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>